* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 600px;
  margin: 32px auto;
  padding: 16px;
}

.title {
  text-align: center;
  margin-bottom: 16px;
}

.calculator {
  padding: 16px;
  border: 1px solid black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.display {
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 900;
  color: black;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.buttons button {
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  background-color: #efefef;
}

.buttons button:hover,
.buttons button:focus {
  background-color: #dfdfdf;
  scale: 95%;
}

.buttons button.operator {
  font-size: 28px;
  color: #ff7f50;
}

.buttons button.equals {
  grid-column: 1 / span 4;
  font-size: 28px;
  background-color: #ff7f50;
  color: #efefef;
}

.buttons button.equals:hover,
.buttons button.equals:focus {
  background-color: #ff946d;
  scale: 97%;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 32px;
  }

  .calculator {
    padding: 32px;
    gap: 32px;
  }

  .display {
    font-size: 24px;
  }

  .buttons {
    gap: 32px;
  }

  .buttons button {
    font-size: 24px;
  }

  .buttons button.operator,
  .buttons button.equals {
    font-size: 32px;
  }
}
